{
  "name": "{{npm.service_name}}_script",
  "version": "1.0.0",
  "description": "Script to run {{npm.service_name}}.",
  "author": "{{author}}",
  "license": "UNLICENSED",
  "dependencies": {
    "{{npm.package_name}}": "{{npm.package_version}}"
  }
}
